/*admin_level */
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--bg-black-50);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--bg-black-100);
}
