:root {
    --bg-black-900: #fff4c8; /* Background variables */
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #2e15e9; /* Primary accent color */
}
.highlight {
    background-color: yellow;
    color: black;
}

body {
    line-height: 1.8; /* Improved line spacing */
    font-size: 18px; /* Slightly larger font size */
    font-family: 'Roboto', sans-serif; /* Modern and readable font */
    color: var(--text-black-900); /* Main text color */
    background-color: var(--bg-black-900); /* Light background for better contrast */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; /* Elegant font for headings */
    font-weight: 700; /* Bold headings */
    color: var(--text-black-900);
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 1.8;
    margin-bottom: 20px;
}
    
    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,::after
{
    box-sizing: border-box;
}
ul{
    list-style: none;
    
}
.section {
    background: var(--bg-black-900);
    padding: 50px 30px; /* Plus d'espace pour respirer */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}


.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width:100%;
    margin: auto;
    
}
.section .container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.section-title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background: var(--skin-color);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.section-title h2:hover::after {
    width: 100%; /* Barre animée sous le titre */
}
    
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}
.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: none;
    background: var(--skin-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    transition: all 0.3s ease; /* Transition fluide */

}
.btn:hover {
    transform: scale(1.1); /* Légère mise en avant au survol */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.bold {
    font-weight: bold;
  }
  
.shadow-dark{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);}
/*aside*/
a {
    color: var(--skin-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: var(--text-black-900); /* Changement de couleur au survol */
}
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;

}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
   font-size: 30px;
   letter-spacing: 5px;
    position: relative;
    
}
.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left:5px solid var(--skin-color) ;
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right:5px solid  var(--skin-color) ;
    top: 0;
    right: 0;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
    position: relative;
}
.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor:pointer;
    position: fixed;
    left : 300px;
    top: 20px;
    border-radius: 5px; 
    background: var(--bg-black-100);
    display:none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height:2px;
    width:18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}



.aside .nav li a i {
    margin-right: 15px;
}
/* Footer Styles */
footer {
    text-align: center;
    margin-bottom: 0%;
    background: linear-gradient(to left, #a0a0a6, #2e15e9);;
}

footer .footer-info {
    width: 100%;
}

footer p {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid var(--bg-black-50);
}

/* Top bar container */
.top-bar {
    background: linear-gradient(to left, #a0a0a6, #2e15e9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
    width: 50%; /* Ensure the form takes full width */
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 0; /* Remove padding to align input and button */
    overflow: hidden; /* Prevent overflow */
}

/* Search input */
.search-input {
    flex-grow: 1; 
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-black-700);
    border-radius: 25px 0 0 25px; 
}

/* Search button */
.search-btn {
    width: 50px; 
    height: 50px; 
    background-color: var(--skin-color);
    border: none;
    cursor: pointer;
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.search-btn i {
    color: var(--bg-black-100);
    font-size: 20px;
}

/* Login button */
.login-btn {
    padding: 5px 15px;
    background-color: var(--bg-black-100);
    color: var(--skin-color);
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
    background-color: var(--skin-color);
    color: white;
}

/* Profile section */
.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--skin-color); 
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1); 
}
/* Profile dropdown */
.profile-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--bg-black-100); 
    border: 1px solid var(--bg-black-50); 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
    flex-direction: column;
    width: 150px;
    z-index: 1000;
}

.profile-dropdown a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-black-900); 
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.profile-dropdown a:hover {
    background-color: var(--skin-color); 
    color: var(--bg-black-100);
}

/* Show dropdown on hover */
.profile:hover .profile-dropdown {
    display: flex;
}



/* Close button */


/* home */

.home {
    min-height: 100vh;
    height: 100%; /* Ensure it spans the full height */
    width: 100%; /* Ensure it spans the full width */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/pic3.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0;/* Add some padding */
}

.home-info::before,
.home-info::after {
    content: none; 
}

.home .home-info {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for better contrast */
    padding: 20px 20px; /* Adjust padding to reduce size */
    border-radius: 8px; /* Rounded corners */
    max-width: 60%; /* Reduce the width of the rectangle */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: auto; /* Center the rectangle */
    position: relative; /* Ensure proper positioning */
}
h3.hello {
    font-size: 28px; /* Slightly smaller font size */
    font-weight: bold;
    color: var(--text-black-900); /* Dark text for contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
}
h3.hello span {
    color: var(--skin-color); /* Couleur vive pour attirer l'attention */
}


.typing{
    color:var(--skin-color);
}

.home .home-info p {
    font-size: 16px; /* Adjust font size */
    color: var(--text-black-700); /* Darker text for better readability */
    line-height: 1.6; /* Adjust line spacing */
    margin-bottom: 15px; /* Reduce bottom margin */
}

.enroll {
    font-size: 18px; /* Taille de police plus grande */
    font-weight: bold;
    background-color: var(--skin-color); /* Couleur vive */
    color: white; /* Texte blanc pour le contraste */
    border: none;
    border-radius: 25px; /* Coins arrondis */
    padding: 15px 40px; /* Plus d'espace interne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre douce */
    transition: all 0.3s ease; /* Transition fluide */
}
.enroll:hover {
    background-color: #2e15e9; /* Couleur légèrement différente au survol */
    transform: scale(1.1); /* Mise en avant au survol */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
h3.hello:hover, .home .home-info p:hover {
    color: var(--skin-color); /* Changement de couleur au survol */
    transition: color 0.3s ease;
}

/*About*/
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
   
    

}
.about .about-content .about-text{
    flex: 0 0 50%;
    max-width: 100%;
    
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
   
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
    
}

.about .about-content .about-text p {
    font-size: 18px;
    line-height: 1.8; 
    color: var(--text-black-700); 
    border: 1px solid var(--bg-black-50); 
    border-radius: 5px; 
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgba(65, 213, 232, 0.5); 
}
   
/*levels*/
.levels .container{
    padding-bottom: 40px;

}

.levels .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.levels .level-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
    display: flex;
}

.levels .level-item-inner {
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.levels .level-item .level-item-inner:hover{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.level-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    cursor: pointer;
  }
  
.level-link .level-item-inner {
    height: 100%;
    transition: transform 0.3s ease;
}
  
.level-link:hover .level-item-inner {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(48, 46, 77, 0.2);  }
  
.levels .level-item .level-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius:50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.levels .level-item .level-item-inner .icon .fas{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.levels .level-item .level-item-inner:hover .icon{
    background: var(--skin-color);
}
.levels .level-item .level-item-inner:hover .icon .fa{
    font-size: 25px;
    color: #ffffff;
}
.levels .level-item .level-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--bg-black-900);
    text-transform: capitalize;
    color:#302e4d;
    font-weight: bold;

}
.levels .level-item .level-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    /*min-height: 150px;*/
}
/*My Course*/
.MyCourses .MyCourses-heading{
    flex: 0 0 100%;
    max-width: 100%;
}
.MyCourses .MyCourses-heading h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--text-black-900);
    margin-bottom: 20px;
    
}
.MyCourses .MyCourses-content::before{
    content: "";
    height: 4px;
    width: 92.33%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 9%;
    
}
.MyCourses .MyCourses-content::after{
    content: "";
    height: 4px;
    width: 91%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 8px;
}
/*Contact*/
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
   
}
.contact .contact-info-item{
    flex: 0 0 25% !important;
    max-width: 25%;
    text-align: center ;
    margin-bottom: 60px;
    
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon  .fa, .fab{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    font-weight: 700;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
    
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
    
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px !important;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}


/* home */


.home .home-info{
    flex: 0 0 100%;
    max-width: 100%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Merriweather', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

.typing{
    color:var(--skin-color);
}

.home .home-info p{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
     ;
}

.enroll{
    display: inline-block;
    width: auto !important;
    padding: 12px 35px;
    text-align: center;
    margin-top: 20px;

}

/*About*/
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 50%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}


.about .about-content .about-text p{
    font-size: 18px;
    line-height: 25px;
    color: var(--text-black-700);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px rgba(48,46,77,0.15);}

/*levels*/
.levels .container{
    padding-bottom: 40px;

}

.levels .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.levels .level-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
    display: flex;
}

.levels .level-item-inner {
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.levels .level-item .level-item-inner:hover{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.level-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    cursor: pointer;
  }
  
.level-link .level-item-inner {
    height: 100%;
    transition: transform 0.3s ease;
}
  
.level-link:hover .level-item-inner {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(48, 46, 77, 0.2);  }
  
.levels .level-item .level-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius:50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.levels .level-item .level-item-inner .icon .fas{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.levels .level-item .level-item-inner:hover .icon{
    background: var(--skin-color);
}
.levels .level-item .level-item-inner:hover .icon .fa{
    font-size: 25px;
    color: #ffffff;
}
.levels .level-item .level-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--bg-black-900);
    text-transform: capitalize;
    color:#302e4d;
    font-weight: bold;

}
.levels .level-item .level-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    /*min-height: 150px;*/
}
/*My Course*/
.MyCourses .MyCourses-heading{
    flex: 0 0 100%;
    max-width: 100%;
}
.MyCourses .MyCourses-heading h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--text-black-900);
    margin-bottom: 20px;
    
}
.MyCourses .MyCourses-content::before{
    content: "";
    height: 4px;
    width: 92.33%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 9%;
    
}
.MyCourses .MyCourses-content::after{
    content: "";
    height: 4px;
    width: 91%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: 8px;
}
/*Contact*/
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
   
}
.contact .contact-info-item{
    flex: 0 0 25% !important;
    max-width: 25%;
    text-align: center ;
    margin-bottom: 60px;
    
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon  .fa, .fab{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    font-weight: 700;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
    
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
    
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px !important;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert.error {
    background-color: #f8d7da;
    color: #c02332;
    border: 1px solid #f5c6cb;
}
